ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border: none;
}

li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 226px;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
    font-size: 30px;
    background: #f6f6f6;
}

#list-data {
    margin: 20px 10px 10px 0px;
    min-height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}

#components {
    min-height: 600px;
}

#target {
    min-height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}

#target .component {
    border: 1px solid #fff;
}

.popover-content form {
    margin: 0 auto;
    width: 213px;
}

.popover-content form .btn {
    margin-right: 10px
}

#source {
    min-height: 500px;
}