#list-data {
    margin: 20px 10px 10px 0px;
    min-height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}

#components {
    min-height: 600px;
}

#target {
    min-height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}

#target .component {
    border: 1px solid #fff;
}

.popover-content form {
    margin: 0 auto;
    width: 213px;
}

.popover-content form .btn {
    margin-right: 10px
}

#source {
    min-height: 500px;
}